/* Round corners for the homepage hero image */
.home .page-content img.mv0.w-70-m {
  border-radius: 12px;
}

/* Make the homepage image smaller (tweak max-width as desired) */
.home .page-content img.mv0.w-70-m {
  width: auto !important;
  max-width: 400px;
}

/* Faint line under navigation menu - spans full page width on all pages */
.nav-bar {
  height: 2px;
  background-color: #a0a0a0;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: 1rem;
  margin-bottom: 0;
  opacity: 0.3;
}


/* Make sidebar background a light color */
.about-sidebar {
  background-color: #f8f8f8 !important;
}


